/* styles for the Buff tooltip */

.TI10EventGameContents
{
	flow-children: right;
}

.EncounterTitle
{
	horizontal-align: left;
	text-align: left;
    text-transform: uppercase;
    letter-spacing: 4px;
	text-shadow: 0px 0px 4px #000000cc;
    font-size: 20px;
    font-weight: normal;
	visibility: collapse;
	/* margin-bottom: 4px; */

    color: #d0efff;	
}

.EncounterType1:not(.IsElite) .Normal.EncounterTitle,
.EncounterType2:not(.IsElite) .Normal.EncounterTitle
{
	visibility: visible;
	text-shadow: 0px 0px 4px #88A6D9cc;
}

.IsElite .Elite.EncounterTitle
{
	color: #FFE8E8;
	visibility: visible;
	text-shadow: 0px 0px 4px #7B0100cc;
}

.EncounterType3 .Trap.EncounterTitle
{
	color: #FFE3D3;
	visibility: visible;
	text-shadow: 0px 0px 4px #7D2D14cc;
}

.EncounterType4 .Boss.EncounterTitle
{
	color: #E2DFFF;
	visibility: visible;
	text-shadow: 0px 0px 4px #2B2292cc;
}

.EncounterType6 .Bonus.EncounterTitle,
.EncounterType5 .Transition.EncounterTitle
{
	color: #FFF5DA;
	visibility: visible;
	text-shadow: 0px 0px 4px #FABE23cc;
}


.EncounterName
{
 	horizontal-align: left;

    text-transform: uppercase;
    letter-spacing: 2px;
	text-shadow: 1px 3px 3px #000000cc;
	width: fit-children;
	text-overflow: shrink;
    font-size: 28px;
    font-weight: semi-bold;
	text-align: left;
	line-height: 112%;

    color: #FDFAEE;

	vertical-align: center;
}

/* .IsElite .EncounterName
{
    color: gradient( linear, 0% 0%, 0% 100%, from( #A72321 ), to ( #D02B29 ) );
}

.EncounterType2 .EncounterName
{
    color: gradient( linear, 0% 0%, 0% 100%, from( #C8981C ), to ( #FABE23 ) );
}

.EncounterType3 .EncounterName
{
    color: gradient( linear, 0% 0%, 0% 100%, from( #CC662C ), to ( #FF7F37 ) );
}

.EncounterType4 .EncounterName
{
    color: gradient( linear, 0% 0%, 0% 100%, from( #4942A3 ), to ( #7266FF ) );
} */

.AscensionAbilitiesContainer
{
	/* margin-top: 24px; */
	flow-children: down;
	horizontal-align: center;
	height: fit-children;
	visibility: collapse;
}

.HasAscensionAbilities .AscensionAbilitiesContainer
{
	visibility: visible;
}

.AscentionAbilitiesTitle
{
	horizontal-align: left;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 3px;

	margin-top: 10px;
}

.AscensionColumns
{
	flow-children: right;	
}

#AscensionAbilitiesContainer
{
	flow-children: down;
	margin-right: 10px;
}

#AscensionAbilitiesDescContainer
{
	flow-children: down;
}

.AscensionAbilityRow
{
	flow-children: right;
}

.AscensionAbilityName
{
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #b8b8b8;
}

.AscensionAbilityDesc
{
	font-size: 16px;
	color: gray;
	max-height: 20px;
}

.TooltipTextContainer
{
	flow-children: down;
	vertical-align: middle;

	margin-right: 24px;
}

.EncounterTypeIcon
{
	width: 72px;
	height: 84px;
	vertical-align: middle;
	margin-right: 16px;

	background-image: url("s2r://panorama/images/events/aghanim/aghanims_room_icon_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	visibility: collapse;
}

.EncounterType1:not(.IsElite) .Normal.EncounterTypeIcon,
.EncounterType2:not(.IsElite) .Normal.EncounterTypeIcon
{
	visibility: visible;
	background-image: url("s2r://panorama/images/events/aghanim/encounter_room_icon_png.vtex");
}

.IsElite .Elite.EncounterTypeIcon
{
	visibility: visible;
	background-image: url("s2r://panorama/images/events/aghanim/encounter_room_elite_icon_png.vtex");
}

.EncounterType3 .Trap.EncounterTypeIcon
{
	visibility: visible;
	background-image: url("s2r://panorama/images/events/aghanim/trap_room_icon_png.vtex");
}

.EncounterType4 .Boss.EncounterTypeIcon
{
	visibility: visible;
	background-image: url("s2r://panorama/images/events/aghanim/boss_room_icon_png.vtex");
}

.EncounterType5 .Aghanim.EncounterTypeIcon
{
	visibility: visible;
	background-image: url("s2r://panorama/images/events/aghanim/aghanims_room_icon_png.vtex");
}

.EncounterType6 .Bonus.EncounterTypeIcon
{
	visibility: visible;
	background-image: url("s2r://panorama/images/events/aghanim/bonus_room_icon_png.vtex");
}

.EncounterType5 .Transition.EncounterTypeIcon
{
	visibility: visible;
	background-image: url("s2r://panorama/images/events/aghanim/empty_room_icon_png.vtex");
}
